
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<div class="wrapper">
	<a href="/dashboard/manage">
		<button class="option-button">Manage</button>
	</a>
</div>

<div class="wrapper">
	<a href="/dashboard/view">
	<button class="option-button">View</button>
	</a>
</div>

<style>
	.wrapper{
		text-align: center;
		margin-bottom: 50px;
	}
	a {
		position: relative;
	}
	button {
		width:200px;
		height:100px;
	}

</style>