@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>The Drive Safe Fleet Management application is designed to help businesses track, monitor and manage vehicles and drivers in real-time in a cost efficient way by utilizing the power of everyday Android phones.
</p>

<img class="displayed" src="~/Content/Images/highleveldiagram.png" />

<style>
	IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }
</style>