@{
	ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center" style="background-color:transparent">
	@*<h1>Drive Safe</h1>

	<p class="lead">Welcome to the Drive Safe web portal.</p>
	<p class="text-warning bottom" style="font-size:medium">
		Fleet Tracking via Android GPS
	</p>*@
	<img src="~/Content/Images/front.png" />
	<img class="three-circles" src="~/Content/Images/3points.png" />
</div>
<div class="row">
	<div class="col-md-4">
		<h2>Manage Your Business</h2>
		<p>
			Get access to your business metrics like you've never had before. With millions of collected data points, you will be able to view how your business operates at any point in time. Obtain key analytics to grow and improve your business.
		</p>
	</div>
	<div class="col-md-4">
		<h2>Monitor Drivers</h2>
		<p>
			Observe and monitor the performance of your drivers and vehicles in real-time. Track drivers through their driver profiles on an Android phone and monitor there movements on the road via GPS coordinates collected from Android GPS and the latest Google Services API.
		</p>
	</div>
	<div class="col-md-4">
		<h2>Improve Efficiency</h2>
		<p>
			Use your Drive Safe data to improve your planning and coordination of drivers and destination points. Set new benchmarks with the new up to date insights into your fleet operations to lower business costs and increase profit.
		</p>
	</div>
</div>

<style>
	.three-circles{
		max-height:90%;
		max-width:90%
	}
	.front-image{
		max-height:60%;
		max-width:60%
	}
</style>