@{
	ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center" style="background-color:#79772D">
	<h1>Drive Safe</h1>
	<p class="lead">Welcome to the Drive Safe web portal.</p>
	<p class="text-warning bottom" style="font-size:medium">
		Android. GPS. Employee Tracking. (while driving)
	</p>
</div>

<div class="row">
	<div class="col-md-4">
		<h2>Manage Your Business</h2>
		<p>Bacon ipsum dolor amet leberkas tail kielbasa shankle ball tip. Ribeye hamburger venison jerky tongue sausage corned beef cow leberkas venison chicken. Andouille turducken pork chop pancetta fatback brisket, hamburger venison ground round tongue strip steak sirloin.</p>
	</div>
	<div class="col-md-4">
		<h2>Monitor Drivers</h2>
		<p>Prosciutto ham meatloaf shoulder flank pancetta turkey. Shankle picanha beef filet mignon. Venison tenderloin picanha pig leberkas short ribs biltong tongue sirloin bacon prosciutto. Cupim kielbasa landjaeger short ribs prosciutto corned beef.</p>
	</div>
	<div class="col-md-4">
		<h2>Improve Efficiency</h2>
		<p>Jerky turducken landjaeger beef bresaola kevin, boudin cow chuck brisket jowl pastrami meatball porchetta. Ball tip capicola andouille ham, hamburger spare ribs corned beef. Cow capicola prosciutto sirloin, brisket pork chop tail meatloaf picanha short ribs swine. Andouille pork loin beef ribs alcatra.</p>
	</div>
</div>